WEB_PORT=80
POSTGRES_PORT=5454

# Melhor Envio sandbox
MELHOR_ENVIO_BASE_URL=https://sandbox.melhorenvio.com.br
MELHOR_ENVIO_TOKEN=
MELHOR_ENVIO_ORIGIN_POSTAL_CODE=
MELHOR_ENVIO_USER_AGENT=r6tech_store (seu-email@example.com)
