<div class="main-content-inner">
  <%= render 'layouts/flash' %>

  <div class="main-content-wrap">
    <%= render "admin/settings/header", title: "Administrators" %>
    <%= render "form", administrator: @administrator,
               form_url: admin_settings_administrators_path, form_method: :post %>
  </div>
</div>
