<%#
  Shared header + tab navigation for all Settings pages.
  Pass a local `title` for the page heading.
%>
<div class="flex items-center flex-wrap justify-between gap20 mb-30">
  <h3>Settings</h3>
  <ul class="breadcrumbs flex items-center flex-wrap justify-start gap10">
    <li>
      <%= link_to admin_root_path do %><div class="text-tiny">Dashboard</div><% end %>
    </li>
    <li><i class="icon-chevron-right"></i></li>
    <li><div class="text-tiny">Settings</div></li>
    <li><i class="icon-chevron-right"></i></li>
    <li><div class="text-tiny"><%= title %></div></li>
  </ul>
</div>

<% tabs = [
     ["Store", admin_settings_store_path, "admin/settings/store"],
     ["Shipping & Orders", admin_settings_shipping_path, "admin/settings/shipping"],
     ["Payments", admin_settings_payments_path, "admin/settings/payments"],
     ["Notifications", admin_settings_notifications_path, "admin/settings/notifications"],
     ["Appearance", admin_settings_appearance_path, "admin/settings/appearance"],
     ["Colors", admin_settings_colors_path, "admin/settings/colors"],
     ["Storages", admin_settings_storages_path, "admin/settings/storages"],
     ["Administrators", admin_settings_administrators_path, "admin/settings/administrators"],
     ["Account", admin_settings_account_path, "admin/settings/account"]
   ] %>

<div class="wg-box mb-20">
  <ul class="flex flex-wrap gap10">
    <% tabs.each do |label, path, controller| %>
      <li>
        <%= link_to label, path, class: "tf-button #{controller_path == controller ? 'style-1' : 'style-3'}" %>
      </li>
    <% end %>
  </ul>
</div>
